In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import r_regression
from sklearn.linear_model import LassoCV
from imblearn.under_sampling import AllKNN
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from scipy.stats import pearsonr

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df = df.drop(columns=["id","CustomerId","Surname"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CreditScore      165034 non-null  int64
 1   Geography        165034 non-null  object
 2   Gender           165034 non-null  object
 3   Age              165034 non-null  float64
 4   Tenure           165034 non-null  int64
 5   Balance          165034 non-null  float64
 6   NumOfProducts    165034 non-null  int64
 7   HasCrCard        165034 non-null  float64
 8   IsActiveMember   165034 non-null  float64
 9   EstimatedSalary  165034 non-null  float64
 10  Exited           165034 non-null  int64
dtypes: float64(5), int64(4), object(2)
memory usage: 13.9+ MB

In [5]:
df[df["Exited"] == 1].count()

CreditScore        34921
Geography          34921
Gender             34921
Age                34921
Tenure             34921
Balance            34921
NumOfProducts      34921
HasCrCard          34921
IsActiveMember     34921
EstimatedSalary    34921
Exited             34921
dtype: int64

In [6]:
for column in df.columns[:-1]:
    if (df[column].dtype == "object"):
        le = LabelEncoder()
        df[column] = pd.Series(le.fit_transform(df[column]))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CreditScore      165034 non-null  int64
 1   Geography        165034 non-null  int32
 2   Gender           165034 non-null  int32
 3   Age              165034 non-null  float64
 4   Tenure           165034 non-null  int64
 5   Balance          165034 non-null  float64
 6   NumOfProducts    165034 non-null  int64
 7   HasCrCard        165034 non-null  float64
 8   IsActiveMember   165034 non-null  float64
 9   EstimatedSalary  165034 non-null  float64
 10  Exited           165034 non-null  int64
dtypes: float64(5), int32(2), int64(4)
memory usage: 12.6 MB

In [8]:
x = df[df.columns[:-1]]
y = df[df.columns[-1]]

In [9]:
pearson = r_regression(x,y)

In [10]:
print(pearson)

[-0.0273826   0.05334343 -0.14644156  0.34076816 -0.01956484  0.12974286
 -0.21455423 -0.02214133 -0.21023703  0.01882681]

In [11]:
pearsons = pearsonr(x,y)

ValueError: shapes (165034,10) and (165034,) not aligned: 10 (dim 1) != 165034 (dim 0)

In [ ]:
print(pearsons)

In [ ]:
name_features = ["Age", "Balance", "NumOfProducts"]

In [ ]:
x.corr()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
CreditScore,1.000000,0.005379,0.002310,-0.008918,0.000942,0.006973,0.011361,-0.002828,0.014790,-0.001820
Geography,0.005379,1.000000,-0.012092,0.034110,0.000276,0.134642,-0.025123,-0.016715,-0.003493,-0.004102
Gender,0.002310,-0.012092,1.000000,-0.063139,0.008767,-0.014699,0.026098,0.006418,0.033722,-0.007778
Age,-0.008918,0.034110,-0.063139,1.000000,-0.010830,0.064318,-0.102195,-0.012111,0.003320,-0.005399
Tenure,0.000942,0.000276,0.008767,-0.010830,1.000000,-0.009481,0.007335,0.005327,-0.005532,0.000971
Balance,0.006973,0.134642,-0.014699,0.064318,-0.009481,1.000000,-0.361033,-0.018584,-0.015073,0.008586
NumOfProducts,0.011361,-0.025123,0.026098,-0.102195,0.007335,-0.361033,1.000000,0.005482,0.039736,-0.004285
HasCrCard,-0.002828,-0.016715,0.006418,-0.012111,0.005327,-0.018584,0.005482,1.000000,-0.021034,0.004438
IsActiveMember,0.014790,-0.003493,0.033722,0.003320,-0.005532,-0.015073,0.039736,-0.021034,1.000000,-0.008080
EstimatedSalary,-0.001820,-0.004102,-0.007778,-0.005399,0.000971,0.008586,-0.004285,0.004438,-0.008080,1.000000

In [ ]:
# var_thres.fit(x)

In [ ]:
# var_thres.get_support()

In [ ]:
# features = var_thres.get_feature_names_out().tolist()

In [ ]:
# print(features)

In [ ]:
x = x[name_features]

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Age            165034 non-null  float64
 1   Balance        165034 non-null  float64
 2   NumOfProducts  165034 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 3.8 MB

In [ ]:
# clf = LassoCV().fit(x,y)

In [ ]:
# importance = np.abs(clf.coef_)

In [ ]:
# print(importance)

In [ ]:
# idx_third = importance.argsort()[-3]
# threshold = importance[idx_third] + 0.01

# idx_features = (-importance).argsort()[:5]
# name_features = np.array(x.columns)[idx_features]
# print('Selected features: {}'.format(name_features))

In [ ]:
# x = x[name_features]

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Age            165034 non-null  float64
 1   Balance        165034 non-null  float64
 2   NumOfProducts  165034 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 3.8 MB

In [ ]:
model = RandomForestClassifier()

In [ ]:
under_sampler = AllKNN()

In [ ]:
x,y = under_sampler.fit_resample(x,y)

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130024 entries, 0 to 130023
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Age            130024 non-null  float64
 1   Balance        130024 non-null  float64
 2   NumOfProducts  130024 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 3.0 MB

In [ ]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 130024 entries, 0 to 130023
Series name: Exited
Non-Null Count   Dtype
--------------   -----
130024 non-null  int64
dtypes: int64(1)
memory usage: 1015.9 KB

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
validation = model.predict(x_test)

In [ ]:
print(accuracy_score(y_test,validation))

0.88371467025572

In [ ]:
data_test = pd.read_csv("test.csv")

In [ ]:
id = data_test["id"]

In [ ]:
data_test = data_test[name_features]

In [ ]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Age            110023 non-null  float64
 1   Balance        110023 non-null  float64
 2   NumOfProducts  110023 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 2.5 MB

In [ ]:
hasil = model.predict(data_test)

In [ ]:
hasil = pd.Series(hasil)

In [ ]:
hasil = pd.concat([id,hasil],axis=1)

In [ ]:
hasil

            id  0
0       165034  0
1       165035  1
2       165036  0
3       165037  0
4       165038  0
...        ... ..
110018  275052  0
110019  275053  0
110020  275054  0
110021  275055  0
110022  275056  1

[110023 rows x 2 columns]

In [ ]:
hasil.rename(columns={0:"Exited"},inplace=True)

In [ ]:
hasil

            id  Exited
0       165034       0
1       165035       1
2       165036       0
3       165037       0
4       165038       0
...        ...     ...
110018  275052       0
110019  275053       0
110020  275054       0
110021  275055       0
110022  275056       1

[110023 rows x 2 columns]

In [ ]:
hasil.to_csv("hasil.csv",index=False)