In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from imblearn.under_sampling import RandomUnderSampler
from sklearn.feature_selection import r_regression
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26570 non-null  int64
 1   product_code    26570 non-null  object
 2   loading         26320 non-null  float64
 3   attribute_0     26570 non-null  object
 4   attribute_1     26570 non-null  object
 5   attribute_2     26570 non-null  int64
 6   attribute_3     26570 non-null  int64
 7   measurement_0   26570 non-null  int64
 8   measurement_1   26570 non-null  int64
 9   measurement_2   26570 non-null  int64
 10  measurement_3   26189 non-null  float64
 11  measurement_4   26032 non-null  float64
 12  measurement_5   25894 non-null  float64
 13  measurement_6   25774 non-null  float64
 14  measurement_7   25633 non-null  float64
 15  measurement_8   25522 non-null  float64
 16  measurement_9   25343 non-null  float64
 17  measurement_10  25270 non-null  float64
 18  measurement_11  25102 non-null  float64
 19  measurement_12  24969 non-null  float64
 20  measurement_13  24796 non-null  float64
 21  measurement_14  24696 non-null  float64
 22  measurement_15  24561 non-null  float64
 23  measurement_16  24460 non-null  float64
 24  measurement_17  24286 non-null  float64
 25  failure         26570 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 5.3+ MB

In [4]:
df

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [5]:
df = df.drop(columns=["id",'product_code'])

In [153]:
# df = df.dropna(axis=0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loading         26320 non-null  float64
 1   attribute_0     26570 non-null  object
 2   attribute_1     26570 non-null  object
 3   attribute_2     26570 non-null  int64
 4   attribute_3     26570 non-null  int64
 5   measurement_0   26570 non-null  int64
 6   measurement_1   26570 non-null  int64
 7   measurement_2   26570 non-null  int64
 8   measurement_3   26189 non-null  float64
 9   measurement_4   26032 non-null  float64
 10  measurement_5   25894 non-null  float64
 11  measurement_6   25774 non-null  float64
 12  measurement_7   25633 non-null  float64
 13  measurement_8   25522 non-null  float64
 14  measurement_9   25343 non-null  float64
 15  measurement_10  25270 non-null  float64
 16  measurement_11  25102 non-null  float64
 17  measurement_12  24969 non-null  float64
 18  measurement_13  24796 non-null  float64
 19  measurement_14  24696 non-null  float64
 20  measurement_15  24561 non-null  float64
 21  measurement_16  24460 non-null  float64
 22  measurement_17  24286 non-null  float64
 23  failure         26570 non-null  int64
dtypes: float64(16), int64(6), object(2)
memory usage: 4.9+ MB

In [7]:
for column in df.columns[:-1]:
    if (df[column].dtype == "object"):
        le = LabelEncoder()
        df[column] = pd.Series(le.fit_transform(df[column]))

In [10]:
df.isna().sum()

loading            250
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      381
measurement_4      538
measurement_5      676
measurement_6      796
measurement_7      937
measurement_8     1048
measurement_9     1227
measurement_10    1300
measurement_11    1468
measurement_12    1601
measurement_13    1774
measurement_14    1874
measurement_15    2009
measurement_16    2110
measurement_17    2284
failure              0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loading         26320 non-null  float64
 1   attribute_0     26570 non-null  int32
 2   attribute_1     26570 non-null  int32
 3   attribute_2     26570 non-null  int64
 4   attribute_3     26570 non-null  int64
 5   measurement_0   26570 non-null  int64
 6   measurement_1   26570 non-null  int64
 7   measurement_2   26570 non-null  int64
 8   measurement_3   26189 non-null  float64
 9   measurement_4   26032 non-null  float64
 10  measurement_5   25894 non-null  float64
 11  measurement_6   25774 non-null  float64
 12  measurement_7   25633 non-null  float64
 13  measurement_8   25522 non-null  float64
 14  measurement_9   25343 non-null  float64
 15  measurement_10  25270 non-null  float64
 16  measurement_11  25102 non-null  float64
 17  measurement_12  24969 non-null  float64
 18  measurement_13  24796 non-null  float64
 19  measurement_14  24696 non-null  float64
 20  measurement_15  24561 non-null  float64
 21  measurement_16  24460 non-null  float64
 22  measurement_17  24286 non-null  float64
 23  failure         26570 non-null  int64
dtypes: float64(16), int32(2), int64(6)
memory usage: 4.7 MB

In [157]:
imputer = SimpleImputer(missing_values=np.nan)

In [158]:
df[df.columns[:-1]] = imputer.fit_transform(df[df.columns[:-1]])

Simple inputer mengisi NaN dengan Mean

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loading         26570 non-null  float64
 1   attribute_0     26570 non-null  float64
 2   attribute_1     26570 non-null  float64
 3   attribute_2     26570 non-null  float64
 4   attribute_3     26570 non-null  float64
 5   measurement_0   26570 non-null  float64
 6   measurement_1   26570 non-null  float64
 7   measurement_2   26570 non-null  float64
 8   measurement_3   26570 non-null  float64
 9   measurement_4   26570 non-null  float64
 10  measurement_5   26570 non-null  float64
 11  measurement_6   26570 non-null  float64
 12  measurement_7   26570 non-null  float64
 13  measurement_8   26570 non-null  float64
 14  measurement_9   26570 non-null  float64
 15  measurement_10  26570 non-null  float64
 16  measurement_11  26570 non-null  float64
 17  measurement_12  26570 non-null  float64
 18  measurement_13  26570 non-null  float64
 19  measurement_14  26570 non-null  float64
 20  measurement_15  26570 non-null  float64
 21  measurement_16  26570 non-null  float64
 22  measurement_17  26570 non-null  float64
 23  failure         26570 non-null  int64
dtypes: float64(23), int64(1)
memory usage: 4.9 MB

In [160]:
df

,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,80.10,1.0,2.0,9.0,5.0,7.0,8.0,4.0,18.040,12.518000,...,10.672000,15.859,17.594000,15.193,15.029,16.048444,13.034,14.684000,764.100,0
1,84.89,1.0,2.0,9.0,5.0,14.0,3.0,3.0,18.213,11.540000,...,12.448000,17.947,17.915000,11.755,14.732,15.425000,14.395,15.631000,682.057,0
2,82.43,1.0,2.0,9.0,5.0,12.0,1.0,5.0,18.057,11.652000,...,12.715000,15.607,19.172085,13.798,16.711,18.631000,14.094,17.946000,663.376,0
3,101.07,1.0,2.0,9.0,5.0,13.0,2.0,6.0,17.295,11.188000,...,12.471000,16.346,18.377000,10.020,15.250,15.562000,16.154,17.172000,826.282,0
4,188.06,1.0,2.0,9.0,5.0,9.0,2.0,8.0,19.346,12.950000,...,10.337000,17.082,19.932000,12.428,16.182,12.760000,13.153,16.412000,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,158.95,1.0,1.0,6.0,9.0,6.0,16.0,4.0,16.301,13.259000,...,11.430725,12.177,17.942000,10.112,15.795,18.572000,16.144,16.460727,729.131,0
26566,146.02,1.0,1.0,6.0,9.0,10.0,12.0,8.0,17.543,11.731988,...,11.242000,14.179,20.564000,10.234,14.450,14.322000,13.146,16.471000,853.924,0
26567,115.62,1.0,1.0,6.0,9.0,1.0,10.0,1.0,15.670,11.535000,...,11.407000,16.437,17.476000,8.668,15.069,16.599000,15.590,14.065000,750.364,0
26568,106.38,1.0,1.0,6.0,9.0,2.0,9.0,4.0,18.059,11.731988,...,11.392000,17.064,17.814000,14.928,16.273,15.485000,13.624,12.865000,730.156,0
26569,131.20,1.0,1.0,6.0,9.0,6.0,19.0,1.0,18.034,11.431000,...,10.611000,15.603,19.703000,11.006,15.875,13.366000,16.527,17.890000,602.354,0

In [161]:
x = df[df.columns[:-1]]
y = df[df.columns[-1]]

In [162]:
selector = r_regression(x,y)

In [163]:
print(selector)

[ 0.12855642  0.0148296   0.01112318  0.00633698 -0.01922213  0.00964593
 -0.01080999  0.01580757  0.00355574 -0.01037205  0.0178138   0.01456606
  0.01649047  0.01678387 -0.00349835 -0.00147783 -0.00466726  0.00425895
 -0.00176961  0.00598178 -0.00340672  0.0021482   0.03238424]

In [164]:
selector = [abs(x) for x in selector]

In [165]:
min(selector)

0.0014778297859906182

In [166]:
max(selector)

0.128556416028253

In [167]:
selected_feature = []

for corr in selector:
    if(corr<0.1):
        selected_feature.append(False)
    else:
        selected_feature.append(True)

In [168]:
rus = RandomUnderSampler(random_state=0)
x, y = rus.fit_resample(x, y)

In [169]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [170]:
knn = KNeighborsClassifier()
nb = GaussianNB()
dt = DecisionTreeClassifier()
svm = SVC()
rf = RandomForestClassifier()
gb = GradientBoostingClassifier()

In [171]:
knn.fit(x_train,y_train)
nb.fit(x_train,y_train)
dt.fit(x_train,y_train)
svm.fit(x_train,y_train)
rf.fit(x_train,y_train)
gb.fit(x_train,y_train)

GradientBoostingClassifier()

In [172]:
knn_predict = knn.predict(x_test)
nb_predict = nb.predict(x_test)
dt_predict = dt.predict(x_test)
svm_predict = svm.predict(x_test)
rf_predict = rf.predict(x_test)
gb_predict = gb.predict(x_test)

In [173]:
print("knn accuracy : ")
print(accuracy_score(y_test,knn_predict))

knn accuracy :
0.5203539823008849

In [174]:
print("nb accuracy : ")
print(accuracy_score(y_test,nb_predict))

nb accuracy :
0.5495575221238939

In [175]:
print("dt accuracy : ")
print(accuracy_score(y_test,dt_predict))

dt accuracy :
0.49911504424778763

In [176]:
print("svm accuracy : ")
print(accuracy_score(y_test,svm_predict))

svm accuracy :
0.554424778761062

In [177]:
print("rf accuracy : ")
print(accuracy_score(y_test,rf_predict))

rf accuracy :
0.5433628318584071

In [178]:
print("gb accuracy : ")
print(accuracy_score(y_test,gb_predict))

gb accuracy :
0.5535398230088495

In [179]:
knn_predict = knn_predict.tolist()
nb_predict = nb_predict.tolist()
dt_predict = dt_predict.tolist()
svm_predict = svm_predict.tolist()
rf_predict = rf_predict.tolist()
gb_predict = gb_predict.tolist()

In [180]:
final_result = []
for i in range (len(knn_predict)):
    temp = [knn_predict[i],nb_predict[i],dt_predict[i],svm_predict[i],rf_predict[i],gb_predict[i]]
    counter_1 = temp.count(1)
    counter_0 = temp.count(0)
    if (max(temp) == counter_0):
        final_result.append(0)
    else:
        final_result.append(1)

In [181]:
final_result = pd.Series(final_result)
print('final accuracy: ')
print(accuracy_score(y_test,final_result))

final accuracy:
0.481858407079646